@font-face {
    font-family: 'Pecita';
    src: url('../fonts/Pecita.otf') format('opentype');
    font-family: 'Preahvihear-Regular';
    src: url('../fonts/Preahvihear-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  